@page
@model RentACarApp.Web.Pages.CarSearchModel
@{
    ViewData["Title"] = "Car Search";
}
<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        /* Custom CSS styles for the homepage */
        body {
            background-color: #f7f7f7;
            font-family: Arial, sans-serif;
        }

        .header {
            background-color: #007BFF;
            padding: 15px 0;
            color: white;
            text-align: center;
        }

            .header h1 {
                font-size: 36px;
                margin-bottom: 10px;
            }

            .header p {
                font-size: 18px;
            }

        .container {
            margin-top: 20px;
        }

        .search-box {
            background-color: white;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
        }

        .btn-search {
            background-color: #007BFF;
            color: white;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="search-box">
                    <h2 class="text-center">Find Your Perfect Car</h2>
                    <form method="post" asp-page="Search">
                        <div class="form-group">
                            <label asp-for="@Model.StartDate">Pickup Date</label>
                            <input asp-for="@Model.StartDate" required>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.EndDate">Return Date</label>
                            <input asp-for="@Model.EndDate" required>
                        </div>
                        <button type="submit" class="btn btn-search btn-block">Search</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    @if (Model.AvailableCarTypes?.Count > 0)
    {
    <br />
    <h2>Results</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Car Type</th>
                <th>Price</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var car in Model.AvailableCarTypes)
            {
                <tr>
                    <td>
                        <strong>@car.Make @car.Model @car.Year</strong><br />
                        @car.Description
                    </td>
                    <td><p><strong>Price per Day:</strong> @string.Format("{0:C}", car.Price)</p></td>
                    <td>
                        <a asp-page="/BookCar"
                           asp-route-carTypeId="@car.Id"
                           asp-route-startDate="@Model.StartDate.ToShortDateString()"
                           asp-route-endDate="@Model.EndDate.ToShortDateString()"
                        class="btn btn-primary">Rent Now</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    }
</body>
</html>
