@page
@model RentACarApp.Web.Pages.CarSearchModel
@{
}

<h1>Car Search</h1>
<form method="post">
    <div class="form-label">
        <label asp-for="@Model.StartDate"></label>
        <input asp-for="@Model.StartDate" />
    </div>
    <div class="form-label">
        <label asp-for="@Model.EndDate"></label>
        <input asp-for="@Model.EndDate" />
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
</form>

@if (Model.AvailableCarTypes?.Count > 0)
{
<br />
<h2>Results</h2>
<table class="table">
    <thead>
        <tr>
            <th>Car Type</th>
            <th>Price</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var car in Model.AvailableCarTypes)
        {
            <tr>
                <td>
                    <strong>@car.Make @car.Model @car.Year</strong><br />
                    @car.Description
                </td>
                <td>@string.Format("{0:C}", car.Price)</td>
                <td>
                    <a asp-page="/BookCar"
                       asp-route-carTypeId="@car.Id"
                       asp-route-startDate="@Model.StartDate.ToShortDateString()"
                       asp-route-endDate="@Model.EndDate.ToShortDateString()">Book Now</a>
                </td>
            </tr>
        }
    </tbody>
</table>
}